[submodule "server"]
	path = vendor/server
	url = https://github.com/LandSandBoat/server.git
	branch = base
[submodule "vendor/POLUtils"]
	path = vendor/POLUtils
	url = https://github.com/Windower/POLUtils.git
[submodule "research/AltanaViewer"]
	path = research/AltanaViewer
	url = https://github.com/voliathon/AltanaViewer.git
[submodule "vendor/AltanaListener"]
	path = vendor/AltanaListener
	url = https://github.com/voliathon/AltanaListener.git
[submodule "research/XiEvents"]
	path = research/XiEvents
	url = https://github.com/atom0s/XiEvents.git
[submodule "research/XiPackets"]
	path = research/XiPackets
	url = https://github.com/atom0s/XiPackets.git
[submodule "research/cexi-viewer"]
	path = research/cexi-viewer
	url = https://github.com/CatsAndBoats/cexi-viewer
[submodule "research/cexi-docs"]
	path = research/cexi-docs
	url = https://github.com/CatsAndBoats/cexi-docs
[submodule "research/XIClient"]
	path = research/XIClient
	url = https://gitlab.com/Aenge/XIClient
