[submodule "Phoenix"]
	path = vendor/Phoenix
	url = git@github.com:phoenixffxi/Phoenix.git
	branch = beta
[submodule "server"]
	path = vendor/server
	url = git@github.com:LandSandBoat/server.git
	branch = base
[submodule "vendor/POLUtils"]
	path = vendor/POLUtils
	url = https://github.com/Windower/POLUtils.git
[submodule "vendor/AltanaViewer"]
	path = vendor/AltanaViewer
	url = https://github.com/voliathon/AltanaViewer.git
